<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Alexis Gagneau | Engineering Student</title>

        <meta name="description" content="Portfolio de Alexis Gagneau">

        <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles/global.css">
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a id="brand-name" href="/">
                        <span class="brand-mobile">
                            <span class="brand-strong">A</span>
                            <span class="brand-light">G</span>
                        </span>
                        <span class="brand-desktop">
                            <span class="brand-strong">Alexis</span>
                            <span class="brand-light">Gagneau</span>
                        </span>
                    </a>
                </div>
                <button id="menu-toggle">
                    <i class="hgi hgi-stroke hgi-rounded hgi-menu-09"></i>
                </button>
            </nav>
        </header>
    </body>
</html>