/* MARK: - Header */
header {
    position: fixed;
    top: var(--space-lg);
    left: var(--space-lg);
    width: calc(100% - 2*var(--space-lg));
    height: var(--navbar-height);
    border-radius: var(--radius-xl);
    background-color: var(--color-header-bg);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition-property: height;
    transition-duration: var(--motion-duration);
    transition-timing-function: var(--motion-easing);
}
header[data-menu-state="closed"] { height: var(--navbar-height); }
header[data-menu-state="open"] { height: calc(var(--viewport-height) - 2*var(--space-lg)); }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--navbar-height));
    min-width: calc(var(--navbar-height));
}

/* NOTE: Brand name */
#brand-name {
    display: inline-flex;
    align-items: center;
    height: var(--navbar-height);
    padding-inline: calc((var(--navbar-height) - var(--menu-icon-size)) / 2);
    font-size: var(--font-xl);
}
#brand-name .brand-mobile { display: inline-flex; }
#brand-name .brand-desktop { display: none; }
#brand-name .brand-strong { font-weight: 700; }
#brand-name .brand-light { font-weight: 300; }

/* NOTE: Navigation items */
#nav-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--space-xl);
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    height: calc(var(--viewport-height) - 2*var(--space-lg) - var(--navbar-height));
    padding: calc((var(--navbar-height) - var(--menu-icon-size)) / 2);
    font-size: var(--font-xl);
    text-transform: uppercase;
}
header[data-menu-state="closed"] #nav-items { visibility: hidden; }
header[data-menu-state="open"] #nav-items, header[data-menu-state="closing"] #nav-items { visibility: visible; }

.item {
    position: relative;
    transition: padding-inline var(--speed-motion-duration) var(--motion-easing);;
}
.item:hover { padding-inline: var(--space-lg); }
.item[data-active-item="true"] { padding-inline: var(--space-lg); }

.item::before, .item::after {
    position: absolute;
    top: anchor(center);
    color: var(--green-500);
    opacity: 0;
    transition: opacity var(--speed-motion-duration) var(--motion-easing);
}
.item::before {
    content: '[';
    left: 0;
}
.item::after {
    content: ']';
    right: 0;
}
.item[data-active-item="true"]::before, .item[data-active-item="true"]::after { opacity: 1; }
.item:not([data-active-item="true"]):hover::before { animation: fade-in-slide-x var(--speed-motion-duration) var(--motion-easing) both; }
.item:not([data-active-item="true"]):hover::after { animation: fade-in-slide-x-reverse var(--speed-motion-duration) var(--motion-easing) both; }

@keyframes fade-in-slide-x {
    from {
        opacity: 0;
        transform: translateX(var(--space-lg));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-in-slide-x-reverse {
    from {
        opacity: 0;
        transform: translateX(calc(-1 * var(--space-lg)));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header[data-menu-state="open"] #nav-items .item,
header[data-menu-state="closing"] #nav-items .item {
    animation-duration: var(--motion-duration);
    animation-timing-function: var(--motion-easing);
    animation-fill-mode: both;
}
header[data-menu-state="open"] #nav-items .item {
    --entry-offset-x: calc((-1) * (var(--navbar-height) - var(--menu-icon-size)) / 4);
    animation-name: fade-in-slide-x;
    animation-delay: calc(var(--motion-delay-step) * var(--item-number));
}
header[data-menu-state="closing"] #nav-items .item {
    animation-name: fade-in;
    animation-direction: reverse;
}

/* NOTE: Menu toggle */
#menu-toggle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#menu-toggle span {
    position: absolute;
    width: var(--menu-icon-size);
    height: 2px;
    background-color: var(--color-text);
    border-radius: 1px;
    transition: transform var(--motion-duration) var(--motion-easing);
}
#menu-toggle span:first-child { transform: translateY(calc( -1 * var(--space-sm))); }
#menu-toggle span:last-child { transform: translateY(var(--space-sm)); }
header[data-menu-state="open"] #menu-toggle span:first-child { transform: rotate(45deg); }
header[data-menu-state="open"] #menu-toggle span:last-child { transform: rotate(-45deg); }

/* MARK: - Social bar */
#social-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-4xl);
    position: fixed;
    left: var(--space-lg);
    bottom: var(--space-lg);
    width: calc(100% - 2*var(--space-lg));
    margin: var(--space-lg) 0;
    visibility: hidden;
    z-index: 1000;
}
header[data-menu-state="open"] + #social-bar {
    visibility: visible;
    animation: fade-in var(--motion-duration) var(--motion-duration) var(--motion-easing) both;
}

#social-bar > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    padding: 0 var(--space-xl);
    font-size: var(--font-base);
    color: var(--color-text-secondary);
    text-transform: uppercase;
    border: 1.5px solid var(--color-text-secondary);
    border-radius: var(--radius-max);
}
#social-bar > a:hover, #social-bar > a:focus {
    color: var(--color-accent);
    border-color: var(--color-accent);
    transition: color var(--motion-duration) var(--motion-easing), border-color var(--motion-duration) var(--motion-easing);
}
#social-bar > a svg {
    width: var(--font-base);
    height: var(--font-base);
    stroke-width: calc(var(--font-base) / 12);
}

/* MARK: - Media Queries */
@media (min-width: 768px) {
    /* NOTE: Brand name */
    #brand-name .brand-mobile { display: none; }
    #brand-name .brand-desktop {
        display: inline-flex;
        gap: var(--space-sm);
    }
    
    /* NOTE: Navigation items */
    #nav-items,
    header[data-menu-state] #nav-items {
        flex-direction: row;
        gap: var(--space-4xl);
        position: static;
        width: auto;
        height: var(--navbar-height);
        padding-top: 0;
        padding-bottom: 0;
        font-size: var(--font-base);
        visibility: visible;
    }
    .item,
    .item a {
        display: flex;
        height: 100%;
        align-items: center;
    }
    .item[data-active-item="true"] { padding: 0; }
    .item[data-active-item="true"]::before { left: calc(-1 * var(--space-lg)); }
    .item[data-active-item="true"]::after { right: calc(-1 * var(--space-lg)); }

    /* NOTE: Menu toggle */
    #menu-toggle { display: none; }

    /* NOTE: Social bar */
    #social-bar {
        flex-direction: column-reverse;
        top: calc(var(--navbar-height) + 2*var(--space-lg));
        left: auto;
        right: var(--space-lg);
        width: fit-content;
        height: calc(100% - var(--navbar-height) - 3*var(--space-lg));
        margin: 0;
        visibility: visible;
    }
    #social-bar > a {
        padding: var(--space-xl) 0;
        writing-mode: sideways-lr;
        text-orientation: mixed;
    }
    #social-bar > a svg { transform: rotate(-90deg); }
}